<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # 防止直接访问目录
    Options -Indexes
    
    # 重定向所有请求到 index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

# 设置默认字符集
AddDefaultCharset UTF-8

# 防止访问敏感文件
<FilesMatch "(\.(bak|config|sql|fla|psd|ini|log|sh|inc|swp|dist)|~)$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch> 